/* You can add global styles to this file, and also import other style files */
body {
    margin:0%;
    background-image: linear-gradient(to right bottom,rgb(168, 54, 168),pink);
    height: 100%;
}